*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #001733 !important;
} 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@300;400;500;600;700&display=swap');

.login{
    background-image: url('../images/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.custome{
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 35%;
    border-radius: 15px !important;
    box-shadow: 19px 21px 5px 0px rgba(0,0,0,0.09);
}
form{
    padding: 100px 60px;
}
.input{
    position: relative;
    flex-wrap: nowrap;
}
.font-awesume{
    position: absolute;
    right: 100px;
}
.card{
    width: 570px;
}
.header img{
    margin-bottom: 40px;
}
.header h3{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 25px;
}
.header p{
    font-size: 16px;
    margin-bottom: 25px;
}
.form-size{
    height: 735px;
}
.btncustom{
    background-color: #513AFF !important;
    font-size: 16px !important;
    font-weight: bold !important;
    color: #fff !important;
    padding: 16px 0 !important;
}
.inputBox{
    margin-bottom: 25px;
}
.inputfield{
     padding: 25px  !important;
}
.checkbox{
    margin-bottom: 25px !important;
}